h1{
    text-align: center;
    font-size: 50px;
    color: rgb(245, 245, 245);
}

li{
    list-style-position:inside;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: rgba(201, 186, 186, 0.678);
    margin: 10px;
}

html {
    background-image: url('deno.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: none;
}
