@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: 'DM Mono', monospace;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 560px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(180px);
}

.card:not(:first-child) {
  margin-left: -200px;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
  margin-top: auto;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

h2:hover {
  background: linear-gradient(90deg, #cd9441, #dfcd77);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  margin-bottom: auto;
  margin-bottom: 20px;
}

header h3 {
  font-size: 14px;
  margin: 0 0 1rem ;
  color: #7a7a8c;
}

h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  cursor: default;
}

header.header {
  padding: 1em;
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background-image: url('./img/magering.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: none;
}

.logo {
  border-radius: 50%;
}

.header-text:hover {
  background: linear-gradient(90deg, #cd9441, #dfcd77);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  cursor: default;
}

p {
  cursor: default;
}

div {
  cursor: default;
}

svg {
  cursor: default;
}

@media screen and (max-width: 700px) {
  header.header {
      clip-path: polygon(50% 0px, 100% 0px, 99.72% 85.75%, 50% 100%, 5px 85.75%, 0px 0px);  
  }
  .logo {
    width: 70%;
  }
}
