@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(245, 245, 245);
}

li{
    list-style-position:inside;
    padding: 10px 40px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: rgba(201, 186, 186, 0.678);
    margin: 10px;
}

html {
    background-image: url('./img/deno.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: none;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: rgba(201, 186, 186);
    padding: 2px;
    font-size: 105%;
    border-radius: 50px;
    padding: 0;
}

*{
    font-family: 'DM Mono', monospace;    
}

p{
    margin: 0;
}
